*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

:root {
	--color-bg-grey: #f6f6f6;
	--color-secondary: #ffffff;
	--color-header-blue: #255ee9;
	--color-acessory: #7289da;
}

/*UTILITY*/
.debug{
    border: 1px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
/*UTILITY*/
ul{
    list-style: none;
}

nav{
    padding-top: 15px;
}
a{
    color: var(--color-secondary);
    padding: 6px 10px;
    text-decoration: none;
}

h1{
    padding-bottom: 20px;
}

.centering{
    text-align: center;
}
/*HEADER*/
header{
    background-color: var(--color-header-blue);

}

#hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}
.hero-content{
    max-width: 800px;
    color: var(--color-secondary);
    text-align: center;
    line-height: 2em;
}
/*HEADER*/
.fake-button {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.purple-button{
    background-color: var(--color-acessory);
    color: var(--color-secondary);
}


button{
    margin-top: 5px;
    padding: 10px;
    border-radius: 30px;
    border: none;
}

.wh-button{
    background-color: var(--color-secondary);
    color: black;
}

.wh-button:hover{
    box-shadow: 3px 1px 25px rgba(0, 0, 0, 0.13);
    color: var(--color-header-blue);
}
.bl-button{
    background-color: black;
    color: var(--color-secondary);
}

.bl-button:hover{
    box-shadow: 3px 1px 25px rgba(0, 0, 0, 0.13);
}

.ondina{
    opacity: 0.04;
}

.ondina img{
    width: 100%;
    display: block;
}
 .rotate{
    transform: rotate(180deg);  
 }

/*MAIN*/

.even{
    background-color: var(--color-bg-grey);
}
main section{
    padding: 60px 0;
}

.section-flex{
   display: flex;
   flex-flow: row ;
   justify-content: center;
   align-items: flex-start;


}




.section-content{
    padding-top: 35px;
    text-align: left;
    width: 40%;
}

.section-content h2{
    font-size: 43px;
    margin-bottom: 25px;

}

.section-inv-flex{
    display: flex;
    flex-direction: row-reverse ;
    justify-content: center;
    align-items: flex-start;
 
 
 }

.centering h2, p{
    padding:13px;
}

.centering p{
    max-width: 70%;
    margin: 0 auto;
}

.stars{
    background-image: url("../img/stars.svg");
    background-size: cover;
    background-position:top;
    background-size: 390px;
    background-repeat: no-repeat;
    
}

.stars h3{
    padding-bottom: 50px;
}
/*MAIN*/

/*FOOTER*/
footer{
    background-color: #23272A;
    padding: 50px;
    color: var(--color-secondary);
}

footer h2{
    color: var(--color-acessory);
}
footer h4{
    color: var(--color-acessory);
}
.footer-flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    
}

.language{
    display: flex;
    border: none;
}

.language img{
    width: 30px;
}

.border{
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-acessory);
}

.padding-bottom{
    padding-bottom: 10px;
}
/*FOOTER*/
